<!DOCTYPE html>
<html lang="fr" ng-app="Acc_App">
    <head>
        <meta charset="utf8">
        <!--import css-->
        <link rel="stylesheet" href="ressources/accueil/style_sheet.css">
        <!--get jQuery-->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!--Get angularjs.min-->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <!--import javascript-->
        <script type="text/javascript" src="ressources/accueil/acc_app.js"></script>
        <script type="text/javascript" src="ressources/general_app.js"></script>
        <script type="text/javascript" src="ressources/accueil/style_sheet.js"></script>
        
        <title>Pingeet</title>
    </head>
    <body>
        <div id="headBand">
            <label>HOME</label>
            <label>PING</label>
        </div>
        <div class="header" ng-controller="dateCtrl">
            {{time.day}}/{{time.month}}/{{time.year}}
        </div>
        <div class="body_container">
            <div class="body_side">
            </div>
            <div class="body_center" ng-controller="geet_Ctrl">
                <form>
                    <textarea name="Ping" id="geetCatcher" ng-model="newGeet"></textarea>
                </form>
                <form ng-submit="addGeet()">
                    <input type="submit" value="Envoyer" />
                </form>
                <section ng-repeat="geet in geetS" ng-controller="dateCtrl">
                    {{geet.user}}:<br/> {{geet.title}}//{{time.minutes+'/'+time.seconds}}
                </section>   
            </div>
            <div class="body_side">
            </div>            
        </div>            
    </body>
</html>