body{
    background-color: black;
}
/*
fix all lists without bullet point and all stack in one line
*/
li{
    list-style: none;
    float: left;
}
/*
headBand fixed at 50px from top when user scrolls the value switch to 0px from top.
set the boutons of headBand.
*/
#headBand{
    background-color: aqua;
    position: fixed;
    height:50px;
    top:50px;
    z-index:999;
    width:100%;
    transition-property: top;
    transition-duration: 0.25s;
    -moz-transition-property: top;
    -moz-transition-duration: 0.25s;
}
#headBand>label{
    text-align:center;
    min-width:70px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
#headBand>label:hover{
    height:50px;
    background-color:blue;    
}
#headBand>label:nth-of-type(1){
    margin-left:50px;
}

body > .col-md-12{
    background-color: darkgreen;
    height:100px;
}
body > .col-md-3{
    background-color: blue;
    height:1800px;
}
body > .col-md-6{
    background-color: brown;
    height:80px;
}