extends layout

block content

        div(class='header' ng-controller='dateCtrl')
             {{angtime.day}}/{{angtime.month}}/{{angtime.year}}
        div(id='headBand')
            a HOME
            a PING
            a(href='#/login') LOGOUT

        div(ng-view='')