doctype html
html(ng-app='all_Ctrl')
  head
    meta(charset='utf-8')
    title= Pingeet
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular-route.js')
    script(type='text/javascript' src='/javascripts/views_provider.js')
    script(type='text/javascript' src='/javascripts/time.js')
    script(type='text/javascript' src='/javascripts/controller.js')
    script(type='text/javascript').
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
  body
    block content