<form ng-controller="addUser_Ctrl" ng-submit="addNewUser()">
    <p>Register</p>
    <label for="username">Username</label>
    <input type="text" name="username" ng-model="username"/>
    <br/>
    <label for="password">Password</label>
    <input type="password" name="password" ng-model="password"/>
    <br/>
    <input type="submit" value="Register" />
</form>
<form ng-controller="getUser_Ctrl" ng-submit="findUser()">
    <p>Sign In</p>
    <label for="username">Username</label>
    <input type="text" name="username" ng-model="username"/>
    <br/>
    <label for="password">Password</label>
    <input type="password" name="password" ng-model="password"/>
    <br/>
    <input type="submit" value="Sign In" />
</form>